// Color system

// Primary color
$primary: PUT_PRIMARY_COLOR_THERE;

// Lighten
$primary-l-10: mix(#fff, $primary, 10%);
$primary-l-20: mix(#fff, $primary, 20%);
$primary-l-30: mix(#fff, $primary, 30%);
$primary-l-40: mix(#fff, $primary, 40%);
$primary-l-50: mix(#fff, $primary, 50%);
$primary-l-60: mix(#fff, $primary, 60%);
$primary-l-70: mix(#fff, $primary, 70%);
$primary-l-80: mix(#fff, $primary, 80%);
$primary-l-90: mix(#fff, $primary, 90%);
$primary-l-95: mix(#fff, $primary, 95%);
$primary-l-97: mix(#fff, $primary, 97%);

// Darken
$primary-d-10: mix(#000, $primary, 10%);
$primary-d-20: mix(#000, $primary, 20%);
$primary-d-30: mix(#000, $primary, 30%);
$primary-d-40: mix(#000, $primary, 40%);
$primary-d-50: mix(#000, $primary, 50%);
$primary-d-60: mix(#000, $primary, 60%);
$primary-d-70: mix(#000, $primary, 70%);
$primary-d-80: mix(#000, $primary, 80%);
$primary-d-90: mix(#000, $primary, 90%);
$primary-d-95: mix(#000, $primary, 95%);
$primary-d-97: mix(#000, $primary, 97%);

// Secondary color
$secondary: PUT_SECONDARY_COLOR_THERE;

// Lighten
$secondary-l-10: mix(#fff, $secondary, 10%);
$secondary-l-20: mix(#fff, $secondary, 20%);
$secondary-l-30: mix(#fff, $secondary, 30%);
$secondary-l-40: mix(#fff, $secondary, 40%);
$secondary-l-50: mix(#fff, $secondary, 50%);
$secondary-l-60: mix(#fff, $secondary, 60%);
$secondary-l-70: mix(#fff, $secondary, 70%);
$secondary-l-80: mix(#fff, $secondary, 80%);
$secondary-l-90: mix(#fff, $secondary, 90%);
$secondary-l-95: mix(#fff, $secondary, 95%);
$secondary-l-97: mix(#fff, $secondary, 97%);

// Darken
$secondary-d-10: mix(#000, $secondary, 10%);
$secondary-d-20: mix(#000, $secondary, 20%);
$secondary-d-30: mix(#000, $secondary, 30%);
$secondary-d-40: mix(#000, $secondary, 40%);
$secondary-d-50: mix(#000, $secondary, 50%);
$secondary-d-60: mix(#000, $secondary, 60%);
$secondary-d-70: mix(#000, $secondary, 70%);
$secondary-d-80: mix(#000, $secondary, 80%);
$secondary-d-90: mix(#000, $secondary, 90%);
$secondary-d-95: mix(#000, $secondary, 95%);
$secondary-d-97: mix(#000, $secondary, 97%);

// Gray color
$white: #FFFFFF;
$gray-l-97: #FAFAFA;
$gray-l-95: #F7F7F7;
$gray-l-90: #F0F0F1;
$gray-l-80: #E2E2E3;
$gray-l-70: #D4D4D5;
$gray-l-60: #C5C5C7;
$gray-l-50: #B7B7B9;
$gray-l-40: #A9A9AB;
$gray-l-30: #9B9B9D;
$gray-l-20: #8C8C8F;
$gray-l-10: #7E7E82;
$gray: #707074;
$gray-d-10: #646468;
$gray-d-20: #59595C;
$gray-d-30: #4E4E50;
$gray-d-40: #434345;
$gray-d-50: #373739;
$gray-d-60: #2C2C2E;
$gray-d-70: #212122;
$gray-d-80: #161617;
$gray-d-90: #0A0A0B;
$black: #000000;

// Base colors
$red: #FF3B30;
$orange: #FF9500;
$yellow: #FFCC00;
$green: #4CD964;
$light-blue: #5AC8FA;
$blue: #007AFF;
$purple: #5856D6;
$pink: #FF2D55;
$transparent: transparent;