// Color System
$transparent: transparent;

// Primary Color
$primary: PUT_PRIMARY_COLOR_THERE;

// Primary Light
$primary-light-10: mix(#fff, $primary, 10%);
$primary-light-20: mix(#fff, $primary, 20%);
$primary-light-30: mix(#fff, $primary, 30%);
$primary-light-40: mix(#fff, $primary, 40%);
$primary-light-50: mix(#fff, $primary, 50%);
$primary-light-60: mix(#fff, $primary, 60%);
$primary-light-70: mix(#fff, $primary, 70%);
$primary-light-80: mix(#fff, $primary, 80%);
$primary-light-90: mix(#fff, $primary, 90%);
$primary-light-95: mix(#fff, $primary, 95%);
$primary-light-97: mix(#fff, $primary, 97%);

// Primary Dark
$primary-dark-10: mix(#000, $primary, 10%);
$primary-dark-20: mix(#000, $primary, 20%);
$primary-dark-30: mix(#000, $primary, 30%);
$primary-dark-40: mix(#000, $primary, 40%);
$primary-dark-50: mix(#000, $primary, 50%);
$primary-dark-60: mix(#000, $primary, 60%);
$primary-dark-70: mix(#000, $primary, 70%);
$primary-dark-80: mix(#000, $primary, 80%);
$primary-dark-90: mix(#000, $primary, 90%);
$primary-dark-95: mix(#000, $primary, 95%);
$primary-dark-97: mix(#000, $primary, 97%);

// Secondary Color
$secondary: PUT_SECONDARY_COLOR_THERE;

// Secondary Light
$secondary-light-10: mix(#fff, $secondary, 10%);
$secondary-light-20: mix(#fff, $secondary, 20%);
$secondary-light-30: mix(#fff, $secondary, 30%);
$secondary-light-40: mix(#fff, $secondary, 40%);
$secondary-light-50: mix(#fff, $secondary, 50%);
$secondary-light-60: mix(#fff, $secondary, 60%);
$secondary-light-70: mix(#fff, $secondary, 70%);
$secondary-light-80: mix(#fff, $secondary, 80%);
$secondary-light-90: mix(#fff, $secondary, 90%);
$secondary-light-95: mix(#fff, $secondary, 95%);
$secondary-light-97: mix(#fff, $secondary, 97%);

// Secondary Dark
$secondary-dark-10: mix(#000, $secondary, 10%);
$secondary-dark-20: mix(#000, $secondary, 20%);
$secondary-dark-30: mix(#000, $secondary, 30%);
$secondary-dark-40: mix(#000, $secondary, 40%);
$secondary-dark-50: mix(#000, $secondary, 50%);
$secondary-dark-60: mix(#000, $secondary, 60%);
$secondary-dark-70: mix(#000, $secondary, 70%);
$secondary-dark-80: mix(#000, $secondary, 80%);
$secondary-dark-90: mix(#000, $secondary, 90%);
$secondary-dark-95: mix(#000, $secondary, 95%);
$secondary-dark-97: mix(#000, $secondary, 97%);

// Gray Color
$white: #FFFFFF;
$gray-light-97: #FBFBFB;
$gray-light-95: #F9F9F9;
$gray-light-90: #F3F3F4;
$gray-light-80: #E8E8E9;
$gray-light-70: #DDDDDE;
$gray-light-60: #D1D1D3;
$gray-light-50: #C6C6C9;
$gray-light-40: #BBBBBE;
$gray-light-30: #B0B0B3;
$gray-light-20: #A4A4A8;
$gray-light-10: #99999E;
$gray: #8E8E93;
$gray-dark-10: #7F7F84;
$gray-dark-20: #717175;
$gray-dark-30: #636366;
$gray-dark-40: #555558;
$gray-dark-50: #464649;
$gray-dark-60: #38383A;
$gray-dark-70: #2A2A2B;
$gray-dark-80: #1C1C1D;
$gray-dark-90: #0D0D0E;
$black: #000000;

// System Colors Light
$red-light: #FF3B30;
$orange-light: #FF9500;
$yellow-light: #FFCC00;
$green-light: #34C759;
$teal-light: #5AC8FA;
$blue-light: #007AFF;
$indigo-light: #5856D6;
$purple-light: #AF52DE;
$pink-light: #FF2D55;

// System Colors Dark
$red-dark: #FF453A;
$orange-dark: #FF9F0A;
$yellow-dark: #FFD60A;
$green-dark: #32D74B;
$teal-dark: #64D2FF;
$blue-dark: #0A84FF;
$indigo-dark: #5E5CE6;
$purple-dark: #BF5AF2;
$pink-dark: #FF375F;